<a href="https://colab.research.google.com/github/ReynaQuita/NLP/blob/main/filter_datasets2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
! pip install langdetect clean-text[gpl]

Requirement already satisfied: langdetect in /usr/local/lib/python3.7/dist-packages (1.0.9)
Requirement already satisfied: clean-text[gpl] in /usr/local/lib/python3.7/dist-packages (0.4.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from langdetect) (1.15.0)
Requirement already satisfied: emoji in /usr/local/lib/python3.7/dist-packages (from clean-text[gpl]) (1.4.2)
Requirement already satisfied: ftfy<7.0,>=6.0 in /usr/local/lib/python3.7/dist-packages (from clean-text[gpl]) (6.0.3)
Requirement already satisfied: unidecode<2.0.0,>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from clean-text[gpl]) (1.2.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from ftfy<7.0,>=6.0->clean-text[gpl]) (0.2.5)

In [39]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

###Load Datasets

In [40]:
import pandas as pd

In [ ]:

# df = pd.read_csv(r'D:\NewsCommentaryv12WMT17\training\en.txt', delimiter = "\t")
# df_en = df.rename(columns={"1929 or 1989?": 'en'})

# df_en

In [41]:
files = [ 'travel' , 'tech' , 'news' , 'music' , 'learning', 'kids' , 'health' , 'ent' , 'business' , 'animation' ]

In [42]:
b = []
for i in files:
  a = '/content/gdrive/MyDrive/paper/new/Yi-Chun/Dataset/voicetube/' + i + '/' + 'english_ds_' + i + '.txt'
  b.append(a)
print(b)

['/content/gdrive/MyDrive/paper/new/Yi-Chun/Dataset/voicetube/travel/english_ds_travel.txt', '/content/gdrive/MyDrive/paper/new/Yi-Chun/Dataset/voicetube/tech/english_ds_tech.txt', '/content/gdrive/MyDrive/paper/new/Yi-Chun/Dataset/voicetube/news/english_ds_news.txt', '/content/gdrive/MyDrive/paper/new/Yi-Chun/Dataset/voicetube/music/english_ds_music.txt', '/content/gdrive/MyDrive/paper/new/Yi-Chun/Dataset/voicetube/learning/english_ds_learning.txt', '/content/gdrive/MyDrive/paper/new/Yi-Chun/Dataset/voicetube/kids/english_ds_kids.txt', '/content/gdrive/MyDrive/paper/new/Yi-Chun/Dataset/voicetube/health/english_ds_health.txt', '/content/gdrive/MyDrive/paper/new/Yi-Chun/Dataset/voicetube/ent/english_ds_ent.txt', '/content/gdrive/MyDrive/paper/new/Yi-Chun/Dataset/voicetube/business/english_ds_business.txt', '/content/gdrive/MyDrive/paper/new/Yi-Chun/Dataset/voicetube/animation/english_ds_animation.txt']

In [43]:
d = []
for i in files:
  c = '/content/gdrive/MyDrive/paper/new/Yi-Chun/Dataset/voicetube/' + i + '/' + 'chinese_ds_' + i + '.txt'
  d.append(c)
print(d)

['/content/gdrive/MyDrive/paper/new/Yi-Chun/Dataset/voicetube/travel/chinese_ds_travel.txt', '/content/gdrive/MyDrive/paper/new/Yi-Chun/Dataset/voicetube/tech/chinese_ds_tech.txt', '/content/gdrive/MyDrive/paper/new/Yi-Chun/Dataset/voicetube/news/chinese_ds_news.txt', '/content/gdrive/MyDrive/paper/new/Yi-Chun/Dataset/voicetube/music/chinese_ds_music.txt', '/content/gdrive/MyDrive/paper/new/Yi-Chun/Dataset/voicetube/learning/chinese_ds_learning.txt', '/content/gdrive/MyDrive/paper/new/Yi-Chun/Dataset/voicetube/kids/chinese_ds_kids.txt', '/content/gdrive/MyDrive/paper/new/Yi-Chun/Dataset/voicetube/health/chinese_ds_health.txt', '/content/gdrive/MyDrive/paper/new/Yi-Chun/Dataset/voicetube/ent/chinese_ds_ent.txt', '/content/gdrive/MyDrive/paper/new/Yi-Chun/Dataset/voicetube/business/chinese_ds_business.txt', '/content/gdrive/MyDrive/paper/new/Yi-Chun/Dataset/voicetube/animation/chinese_ds_animation.txt']

In [ ]:
from cleantext import clean
import re

In [60]:
def clean_chinese_text(context):
  context = re.sub("http://[a-zA-z./\d]*","",context) #Remove links
  context = re.sub("\[.{0,12}\]","",context) #Remove emoji
  tags = re.findall("#(.{0,30})#",context) #Extract and remove tags
  context = re.sub("#.{0,30}#","",context)
  at = re.findall("@([^@]{0,30})\s",context) #Extract and remove @somebody
  context = re.sub("@([^@]{0,30})\s","",context)
  at+= re.findall("@([^@]{0,30})）",context)
  context = re.sub("@([^@]{0,30})）","",context)
  context = re.sub("[\s+\.\!\/_,$%^*\"\']+|[+——~@#￥%……&*（）]+", "",context) #Remove punctuation
  context = re.sub("[【】╮╯▽╰╭★→「」]+","",context)
  context = re.sub("！，❤。～《》：（）【】「」？”“；：、","",context)
  context = re.sub("\s","",context) #Remove space
  context = re.sub("\.*","",context) #Remove ....

  return context

In [58]:
clean("Oh my God",fix_unicode=False, to_ascii=False, no_urls=True, replace_with_url="", no_emails=True, replace_with_email="", no_punct=False, replace_with_punct="", lower=False, lang ="en")

'Oh my God'

In [63]:
clean_chinese_text("我們都非常興奮，(那位戴著兔耳朵的仁兄也是##)。")

'我們都非常興奮，(那位戴著兔耳朵的仁兄也是)。'

In [59]:
en_list = []

for k in b:
  with open(k,'r') as fh:
    for oneline in fh:
      oneline = oneline.strip()
      oneline = clean(oneline, fix_unicode=True, to_ascii=True, no_urls=True, replace_with_url="",  lower=False, no_emails=True, replace_with_email="", no_punct=False, replace_with_punct="", lang ="en") 
      en_list.append(oneline)
#    for i in en_list:
#        print(i)

x_dic={}
x_dic['en'] = en_list
df_en = pd.DataFrame( data = x_dic )

df_en

                                                        en
0                           Oh my God, it's still moving!!
1        Hey, everyone, welcome to this new 2-minute Ja...
2        Now, it's time to reveal the truth, the one yo...
3        We got invited by Itamae Sushi to film a reall...
4        We were really excited and so was this guy wit...
...                                                    ...
1020444                         Want to learn how to draw?
1020445             What turns you on? What lights you up?
1020446  Go out and do that thing. It only takes 20 hours.
1020447                                          Have fun.
1020448                                         (Applause)

[1020449 rows x 1 columns]

In [50]:
len(df_en)

1020449

In [ ]:

# df2 = pd.read_csv(r'D:\NewsCommentaryv12WMT17\training\zh.txt', delimiter = "\t")
# df_zh = df2.rename(columns={"1929年还是1989年?": 'zh'})

# df_zh

In [61]:
zh_list = []

for k in d:  
  with open(k,'r') as fh:
#    zh_list = []
    for oneline in fh:
      oneline = clean_chinese_text(oneline.strip())
      zh_list.append(oneline)
#    for i in zh_list:
#        print(i)

y_dic={}
y_dic['zh'] = zh_list
df_zh = pd.DataFrame( data = y_dic )

df_zh

                                 zh
0                        我的老天，它還在動！
1              嗨大家好，歡迎來到新一集的兩分鐘看日本！
2        現在終於要揭露真相，你們引頸盼望的真相！其實根本還好
3          我們受邀到板前壽司拍一場秀把巨大的鮪魚大卸八塊！
4             我們都非常興奮，那位戴著兔耳朵的仁兄也是。
...                             ...
1020444                      想學畫畫嗎？
1020445            是什麼讓你興奮？是什麼點燃了你？
1020446            出去做那件事。只需要20個小時。
1020447                       玩得開心點
1020448                        (掌聲)

[1020449 rows x 1 columns]

In [52]:
len(df_zh)

1020449

In [62]:
df_en_zh = pd.concat([df_en, df_zh], axis=1)

df_en_zh

                                                        en                          zh
0                           Oh my God, it's still moving!!                  我的老天，它還在動！
1        Hey, everyone, welcome to this new 2-minute Ja...        嗨大家好，歡迎來到新一集的兩分鐘看日本！
2        Now, it's time to reveal the truth, the one yo...  現在終於要揭露真相，你們引頸盼望的真相！其實根本還好
3        We got invited by Itamae Sushi to film a reall...    我們受邀到板前壽司拍一場秀把巨大的鮪魚大卸八塊！
4        We were really excited and so was this guy wit...       我們都非常興奮，那位戴著兔耳朵的仁兄也是。
...                                                    ...                         ...
1020444                         Want to learn how to draw?                      想學畫畫嗎？
1020445             What turns you on? What lights you up?            是什麼讓你興奮？是什麼點燃了你？
1020446  Go out and do that thing. It only takes 20 hours.            出去做那件事。只需要20個小時。
1020447                                          Have fun.                       玩得開心點
1020448                                         (Applause)                        (掌聲)

[1020449 rows x 2 columns]

###Remove Nan Dataset

In [ ]:
df_en_zh.dropna(inplace=True)

In [ ]:
df_en_zh

                                                        en                             zh
0                           Oh my God, it's still moving!!                     我的老天，它還在動！
1        Hey, everyone, welcome to this new 2-minute Ja...         嗨大家好，歡迎來到新一集的「兩分鐘看日本」！
2        Now, it's time to reveal the truth, the one yo...  現在終於要揭露真相，你們引頸盼望的真相！其實根本還好...
3        We got invited by Itamae Sushi to film a reall...     我們受邀到板前壽司拍一場秀——把巨大的鮪魚大卸八塊！
4        We were really excited and so was this guy wit...          我們都非常興奮，那位戴著兔耳朵的仁兄也是。
...                                                    ...                            ...
1020444                         Want to learn how to draw?                         想學畫畫嗎？
1020445             What turns you on? What lights you up?               是什麼讓你興奮？是什麼點燃了你？
1020446  Go out and do that thing. It only takes 20 hours.               出去做那件事。只需要20個小時。
1020447                                          Have fun.                          玩得開心點
1020448                                         (Applause)                           (掌聲)

[1020449 rows x 2 columns]

###Filter Length

In [ ]:
# import  jieba

In [ ]:
english = []
chinese = []

for i in range(0,len(df_en_zh)):
  if len(df_en_zh['en'][i].split()) > 6:
    if len(df_en_zh['zh'][i]) > 6:
      english.append(df_en_zh['en'][i])
      chinese.append(df_en_zh['zh'][i])

In [ ]:
len(english), len(chinese)

(824948, 824948)

In [ ]:
df_eng = pd.DataFrame(english, columns =['en'])
df_chi = pd.DataFrame(chinese, columns =['zh'])

df_en_zh2 = pd.concat([df_eng, df_chi], axis=1)
df_en_zh2

                                                       en                             zh
0                          Oh my God, it's still moving!!                     我的老天，它還在動！
1       Hey, everyone, welcome to this new 2-minute Ja...         嗨大家好，歡迎來到新一集的「兩分鐘看日本」！
2       Now, it's time to reveal the truth, the one yo...  現在終於要揭露真相，你們引頸盼望的真相！其實根本還好...
3       We got invited by Itamae Sushi to film a reall...     我們受邀到板前壽司拍一場秀——把巨大的鮪魚大卸八塊！
4       We were really excited and so was this guy wit...          我們都非常興奮，那位戴著兔耳朵的仁兄也是。
...                                                   ...                            ...
824943      It doesn't matter. What do you want to learn?                    這不重要。你想學什麼？
824944  Do you want to learn a language? Want to learn...               你想學習一門語言嗎？想學做飯嗎？
824945                         Want to learn how to draw?                         想學畫畫嗎？
824946             What turns you on? What lights you up?               是什麼讓你興奮？是什麼點燃了你？
824947  Go out and do that thing. It only takes 20 hours.               出去做那件事。只需要20個小時。

[824948 rows x 2 columns]

###Filter Language

In [ ]:
from langdetect import detect

In [ ]:
english = []
chinese = []
no_en = []
no_zh = []

for i in range(0,len(df_en_zh2)):
  try:
    if detect(df_en_zh2['en'][i]) == 'en':
      if detect(df_en_zh2['zh'][i]) == 'zh-tw':
        english.append(df_en_zh2['en'][i])
        chinese.append(df_en_zh2['zh'][i])
      else:
        no_en.append(df_en_zh2['en'][i])
        no_zh.append(df_en_zh2['zh'][i])
  except:
    print(i)

82754
83280
111569
120798
120802
124272
124274
130759
130760
134951
148033
149839
150732
150742
155773
156653
166067
168531
174418
174442
197927
197929
266090
278219
278366

In [ ]:
len(english), len(chinese)

In [ ]:
df_eng = pd.DataFrame(english, columns =['en'])
df_chi = pd.DataFrame(chinese, columns =['zh'])

df_en_zh3 = pd.concat([df_eng, df_chi], axis=1)
df_en_zh3

###Remove Duplicate Sentences

In [ ]:
df_en_zh3 = df_en_zh3.drop_duplicates(ignore_index=True)
df_en_zh3

In [ ]:
len(df_en_zh3)

###chinese length between -10% until 55% of the english length

In [ ]:
english = []
chinese = []

#source: english, target: chinese
for i in range(0,len(df_en_zh3)):
  en_length = len(df_en_zh3['en'][i].split())
  zh_length = len(df_en_zh3['zh'][i])
  en_length_1 = en_length - en_length*0.1
  en_length_2 = en_length + en_length*0.55     


  if (en_length_1 < zh_length < en_length_2):
      english.append(df_en_zh3['en'][i])
      chinese.append(df_en_zh3['zh'][i])

In [ ]:
len(english), len(chinese)

In [ ]:
df_eng = pd.DataFrame(english, columns =['en'])
df_chi = pd.DataFrame(chinese, columns =['zh'])

df_en_zh4 = pd.concat([df_eng, df_chi], axis=1)
df_en_zh4

In [ ]:
df_eng

In [ ]:
df_chi

###Download Dataset

In [ ]:
df_eng.to_csv(r'en_all_new.csv' , index = False)
df_chi.to_csv(r'zh_all_new.csv' , index = False)
df_en_zh4.to_csv(r'en_zh_all_new.csv' , index = False)

In [ ]:
from google.colab import files

files.download("en_all_new.csv")
files.download("zh_all_new.csv")
files.download("en_zh_all_new.csv")

###Creat Dictionary

In [ ]:
# Convert the DataFrame to Series
'''
dictionaryObject = df_en_zh4.to_dict('record')
dictionaryObject
'''

"\ndictionaryObject = df_en_zh4.to_dict('record')\ndictionaryObject\n"

In [ ]:
'''
z_dic={}
z_dic['translation'] = dictionaryObject
dff = pd.DataFrame( data = z_dic )
td = Dataset.from_dict( dff )

td
'''

"\nz_dic={}\nz_dic['translation'] = dictionaryObject\ndff = pd.DataFrame( data = z_dic )\ntd = Dataset.from_dict( dff )\n\ntd\n"